#container{
    background-color:cadetblue;
    height: 400px;
    width: 80%;
    margin: auto;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
}

.item{
    background-color: orange;
    width: 100px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
