:root {
    --yellow: #ffc600;
    --grey: #A1A1A1;
	--black: #272727;
}

.container {
	height: 25rem;
	display: grid;
    grid-gap: 1em;
	grid-template-columns: repeat(2, 1fr 2fr); /* Las columnas amarillas ocupan el doble que las grises */
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 2fr; /* Las filas implícitas ocupan el doble que el resto */
}

h1 {
	text-align: center;
	margin-bottom: 1em;
}

.item{
	background-color: var(--yellow);
	border: 1px solid var(--black);
    border-radius: 3px;
    font-size: 2em;	
}

.item p {
    margin: 0 0 5px 0;
}

.item:nth-child(odd) {
	background-color: var(--grey);
}